<section class="products">
    <div class="container products__container">
        <div class="products__wrapper">
            <div class="section-title-container products__title-container">
                <h2 class="section-title-heading products__title-heading">
                    Our Products
                </h2>
            </div>
            <div class="products__main">
                <ul class="products__list products-list">
                    <li class="products-list__item product-card">
                        <div class="product-card__thumb">
                            <img
                                src="./assets/images/syltherine.png"
                                alt="syltherine"
                            />
                        </div>
                        <div class="product-card__desc">
                            <h4 class="product-card__name">Syltherine</h4>
                            <p class="product-card__sub">Stylish cafe chair</p>
                            <div class="product-card__price-container">
                                <span class="product-card__price"
                                    >Rp 2.500.000</span
                                >
                                <span class="product-card__discount"
                                    >Rp 3.500.000</span
                                >
                            </div>
                        </div>
                        <div class="product-card__label-container">
                            <div
                                class="product-card__label product-card__label_discount"
                            >
                                <span class="product-card__label-text"
                                    >-30%</span
                                >
                            </div>
                        </div>
                        <div
                            class="product-card__pop-up product-card-pop-up__container"
                        >
                            <div class="product-card-pop-up">
                                <button
                                    class="button button_m product-card__cart"
                                >
                                    Add to cart
                                </button>
                                <div class="product-card-pop-up__actions">
                                    <div
                                        class="product-card-pop-up__action-container"
                                    >
                                        <div
                                            class="product-card-pop-up__action-icon"
                                        >
                                            <svg width="24px" height="24px">
                                                <use href="#share"></use>
                                            </svg>
                                        </div>
                                        <span
                                            class="product-card-pop-up__action-name"
                                            >Share</span
                                        >
                                    </div>
                                    <div
                                        class="product-card-pop-up__action-container"
                                    >
                                        <div
                                            class="product-card-pop-up__action-icon"
                                        >
                                            <svg width="24px" height="24px">
                                                <use href="#favorites"></use>
                                            </svg>
                                        </div>
                                        <span
                                            class="product-card-pop-up__action-name"
                                            >Like</span
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="products-list__item product-card">
                        <div class="product-card__thumb">
                            <img
                                src="./assets/images/leviosa.png"
                                alt="Leviosa"
                            />
                        </div>
                        <div class="product-card__desc">
                            <h4 class="product-card__name">Leviosa</h4>
                            <p class="product-card__sub">Stylish cafe chair</p>
                            <div class="product-card__price-container">
                                <span class="product-card__price"
                                    >Rp 2.500.000</span
                                >
                            </div>
                        </div>
                        <div class="product-card__label-container">
                            <div
                                class="product-card__label product-card__label_discount"
                            >
                                <span class="product-card__label-text"
                                    >-30%</span
                                >
                            </div>
                        </div>
                        <div
                            class="product-card__pop-up product-card-pop-up__container"
                        >
                            <div class="product-card-pop-up">
                                <button
                                    class="button button_m product-card__cart"
                                >
                                    Add to cart
                                </button>
                                <div class="product-card-pop-up__actions">
                                    <div
                                        class="product-card-pop-up__action-container"
                                    >
                                        <div
                                            class="product-card-pop-up__action-icon"
                                        >
                                            <svg width="24px" height="24px">
                                                <use href="#share"></use>
                                            </svg>
                                        </div>
                                        <span
                                            class="product-card-pop-up__action-name"
                                            >Share</span
                                        >
                                    </div>
                                    <div
                                        class="product-card-pop-up__action-container"
                                    >
                                        <div
                                            class="product-card-pop-up__action-icon"
                                        >
                                            <svg width="24px" height="24px">
                                                <use href="#favorites"></use>
                                            </svg>
                                        </div>
                                        <span
                                            class="product-card-pop-up__action-name"
                                            >Like</span
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="products-list__item product-card">
                        <div class="product-card__thumb">
                            <img
                                src="./assets/images/lolito.png"
                                alt="Lolito"
                            />
                        </div>
                        <div class="product-card__desc">
                            <h4 class="product-card__name">Lolito</h4>
                            <p class="product-card__sub">Luxury big sofa</p>
                            <div class="product-card__price-container">
                                <span class="product-card__price"
                                    >Rp 7.000.000</span
                                >
                                <span class="product-card__discount"
                                    >Rp 14.000.000</span
                                >
                            </div>
                        </div>
                        <div class="product-card__label-container">
                            <div
                                class="product-card__label product-card__label_discount"
                            >
                                <span class="product-card__label-text"
                                    >-50%</span
                                >
                            </div>
                        </div>
                        <div
                            class="product-card__pop-up product-card-pop-up__container"
                        >
                            <div class="product-card-pop-up">
                                <button
                                    class="button button_m product-card__cart"
                                >
                                    Add to cart
                                </button>
                                <div class="product-card-pop-up__actions">
                                    <div
                                        class="product-card-pop-up__action-container"
                                    >
                                        <div
                                            class="product-card-pop-up__action-icon"
                                        >
                                            <svg width="24px" height="24px">
                                                <use href="#share"></use>
                                            </svg>
                                        </div>
                                        <span
                                            class="product-card-pop-up__action-name"
                                            >Share</span
                                        >
                                    </div>
                                    <div
                                        class="product-card-pop-up__action-container"
                                    >
                                        <div
                                            class="product-card-pop-up__action-icon"
                                        >
                                            <svg width="24px" height="24px">
                                                <use href="#favorites"></use>
                                            </svg>
                                        </div>
                                        <span
                                            class="product-card-pop-up__action-name"
                                            >Like</span
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="products-list__item product-card">
                        <div class="product-card__thumb">
                            <img
                                src="./assets/images/respira.png"
                                alt="Respira"
                            />
                        </div>
                        <div class="product-card__desc">
                            <h4 class="product-card__name">Respira</h4>
                            <p class="product-card__sub">Minimalist fan</p>
                            <div class="product-card__price-container">
                                <span class="product-card__price"
                                    >Rp 500.000</span
                                >
                            </div>
                        </div>
                        <div class="product-card__label-container">
                            <div
                                class="product-card__label product-card__label_new"
                            >
                                <span class="product-card__label-text"
                                    >New</span
                                >
                            </div>
                        </div>
                        <div
                            class="product-card__pop-up product-card-pop-up__container"
                        >
                            <div class="product-card-pop-up">
                                <button
                                    class="button button_m product-card__cart"
                                >
                                    Add to cart
                                </button>
                                <div class="product-card-pop-up__actions">
                                    <div
                                        class="product-card-pop-up__action-container"
                                    >
                                        <div
                                            class="product-card-pop-up__action-icon"
                                        >
                                            <svg width="24px" height="24px">
                                                <use href="#share"></use>
                                            </svg>
                                        </div>
                                        <span
                                            class="product-card-pop-up__action-name"
                                            >Share</span
                                        >
                                    </div>
                                    <div
                                        class="product-card-pop-up__action-container"
                                    >
                                        <div
                                            class="product-card-pop-up__action-icon"
                                        >
                                            <svg width="24px" height="24px">
                                                <use href="#favorites"></use>
                                            </svg>
                                        </div>
                                        <span
                                            class="product-card-pop-up__action-name"
                                            >Like</span
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="products-list__item product-card">
                        <div class="product-card__thumb">
                            <img src="./assets/images/grifo.png" alt="Grifo" />
                        </div>
                        <div class="product-card__desc">
                            <h4 class="product-card__name">Grifo</h4>
                            <p class="product-card__sub">Night lamp</p>
                            <div class="product-card__price-container">
                                <span class="product-card__price"
                                    >Rp 1.500.000</span
                                >
                            </div>
                        </div>

                        <div
                            class="product-card__pop-up product-card-pop-up__container"
                        >
                            <div class="product-card-pop-up">
                                <button
                                    class="button button_m product-card__cart"
                                >
                                    Add to cart
                                </button>
                                <div class="product-card-pop-up__actions">
                                    <div
                                        class="product-card-pop-up__action-container"
                                    >
                                        <div
                                            class="product-card-pop-up__action-icon"
                                        >
                                            <svg width="24px" height="24px">
                                                <use href="#share"></use>
                                            </svg>
                                        </div>
                                        <span
                                            class="product-card-pop-up__action-name"
                                            >Share</span
                                        >
                                    </div>
                                    <div
                                        class="product-card-pop-up__action-container"
                                    >
                                        <div
                                            class="product-card-pop-up__action-icon"
                                        >
                                            <svg width="24px" height="24px">
                                                <use href="#favorites"></use>
                                            </svg>
                                        </div>
                                        <span
                                            class="product-card-pop-up__action-name"
                                            >Like</span
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="products-list__item product-card">
                        <div class="product-card__thumb">
                            <img src="./assets/images/muggo.png" alt="Grifo" />
                        </div>
                        <div class="product-card__desc">
                            <h4 class="product-card__name">Muggo</h4>
                            <p class="product-card__sub">Small mug</p>
                            <div class="product-card__price-container">
                                <span class="product-card__price"
                                    >Rp 150.000</span
                                >
                            </div>
                        </div>
                        <div class="product-card__label-container">
                            <div
                                class="product-card__label product-card__label_new"
                            >
                                <span class="product-card__label-text"
                                    >New</span
                                >
                            </div>
                        </div>
                        <div
                            class="product-card__pop-up product-card-pop-up__container"
                        >
                            <div class="product-card-pop-up">
                                <button
                                    class="button button_m product-card__cart"
                                >
                                    Add to cart
                                </button>
                                <div class="product-card-pop-up__actions">
                                    <div
                                        class="product-card-pop-up__action-container"
                                    >
                                        <div
                                            class="product-card-pop-up__action-icon"
                                        >
                                            <svg width="24px" height="24px">
                                                <use href="#share"></use>
                                            </svg>
                                        </div>
                                        <span
                                            class="product-card-pop-up__action-name"
                                            >Share</span
                                        >
                                    </div>
                                    <div
                                        class="product-card-pop-up__action-container"
                                    >
                                        <div
                                            class="product-card-pop-up__action-icon"
                                        >
                                            <svg width="24px" height="24px">
                                                <use href="#favorites"></use>
                                            </svg>
                                        </div>
                                        <span
                                            class="product-card-pop-up__action-name"
                                            >Like</span
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="products-list__item product-card">
                        <div class="product-card__thumb">
                            <img
                                src="./assets/images/pingky.png"
                                alt="Pingky"
                            />
                        </div>
                        <div class="product-card__desc">
                            <h4 class="product-card__name">Pingky</h4>
                            <p class="product-card__sub">Cute bed set</p>
                            <div class="product-card__price-container">
                                <span class="product-card__price"
                                    >Rp 7.000.000</span
                                >
                                <span class="product-card__discount"
                                    >Rp 7.000.000</span
                                >
                            </div>
                        </div>
                        <div class="product-card__label-container">
                            <div
                                class="product-card__label product-card__label_discount"
                            >
                                <span class="product-card__label-text"
                                    >-50%</span
                                >
                            </div>
                        </div>
                        <div
                            class="product-card__pop-up product-card-pop-up__container"
                        >
                            <div class="product-card-pop-up">
                                <button
                                    class="button button_m product-card__cart"
                                >
                                    Add to cart
                                </button>
                                <div class="product-card-pop-up__actions">
                                    <div
                                        class="product-card-pop-up__action-container"
                                    >
                                        <div
                                            class="product-card-pop-up__action-icon"
                                        >
                                            <svg width="24px" height="24px">
                                                <use href="#share"></use>
                                            </svg>
                                        </div>
                                        <span
                                            class="product-card-pop-up__action-name"
                                            >Share</span
                                        >
                                    </div>
                                    <div
                                        class="product-card-pop-up__action-container"
                                    >
                                        <div
                                            class="product-card-pop-up__action-icon"
                                        >
                                            <svg width="24px" height="24px">
                                                <use href="#favorites"></use>
                                            </svg>
                                        </div>
                                        <span
                                            class="product-card-pop-up__action-name"
                                            >Like</span
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="products-list__item product-card">
                        <div class="product-card__thumb">
                            <img src="./assets/images/potty.png" alt="Potty" />
                        </div>
                        <div class="product-card__desc">
                            <h4 class="product-card__name">Potty</h4>
                            <p class="product-card__sub">
                                Minimalist flower pot
                            </p>
                            <div class="product-card__price-container">
                                <span class="product-card__price"
                                    >Rp 500.000</span
                                >
                            </div>
                        </div>
                        <div class="product-card__label-container">
                            <div
                                class="product-card__label product-card__label_new"
                            >
                                <span class="product-card__label-text"
                                    >New</span
                                >
                            </div>
                        </div>
                        <div
                            class="product-card__pop-up product-card-pop-up__container"
                        >
                            <div class="product-card-pop-up">
                                <button
                                    class="button button_m product-card__cart"
                                >
                                    Add to cart
                                </button>
                                <div class="product-card-pop-up__actions">
                                    <div
                                        class="product-card-pop-up__action-container"
                                    >
                                        <div
                                            class="product-card-pop-up__action-icon"
                                        >
                                            <svg width="24px" height="24px">
                                                <use href="#share"></use>
                                            </svg>
                                        </div>
                                        <span
                                            class="product-card-pop-up__action-name"
                                            >Share</span
                                        >
                                    </div>
                                    <div
                                        class="product-card-pop-up__action-container"
                                    >
                                        <div
                                            class="product-card-pop-up__action-icon"
                                        >
                                            <svg width="24px" height="24px">
                                                <use href="#favorites"></use>
                                            </svg>
                                        </div>
                                        <span
                                            class="product-card-pop-up__action-name"
                                            >Like</span
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <button class="button button_m products__button-more">
                Show More
            </button>
        </div>
    </div>
</section>
