<section class="first-screen">
    @@include("../Header/Header.html")
    <div class="container first-screen__container">
        <div class="swiper first-screen__slider first-screen-slider">
            <div class="first-screen__content">
                <h1 class="first-screen__title">
                    High-Quality Furniture Just For You
                </h1>
                <p class="first-screen__subtitle">
                    Our furniture is made from selected and best quality
                    materials that are suitable for your dream home
                </p>
                <button class="button button_l">Shop Now</button>
            </div>
            <div class="swiper-wrapper first-screen-slider__wrapper">
                <div class="swiper-slide first-screen-slider__slide">
                    <img src="./assets/images/bohauss.png" alt="slider-image" />
                    <div
                        class="first-screen-slider__slide-info first-screen-slider-slide-info"
                    >
                        <span class="first-screen-slider-slide-info__name"
                            >Bohauss</span
                        >
                        <span
                            class="first-screen-slider-slide-info__description"
                            >Luxury big sofa 2-seat</span
                        >
                        <div
                            class="first-screen-slider-slide-info__price-container"
                        >
                            <span class="first-screen-slider-slide-info__price"
                                >Rp 17.000.000</span
                            >
                            <svg width="24px" height="24px">
                                <use href="#arrow-open"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide first-screen-slider__slide">
                    <img src="./assets/images/bohauss.png" alt="slider-image" />
                    <div
                        class="first-screen-slider__slide-info first-screen-slider-slide-info"
                    >
                        <span class="first-screen-slider-slide-info__name"
                            >Bohauss</span
                        >
                        <span
                            class="first-screen-slider-slide-info__description"
                            >Luxury big sofa 2-seat</span
                        >
                        <div
                            class="first-screen-slider-slide-info__price-container"
                        >
                            <span class="first-screen-slider-slide-info__price"
                                >Rp 17.000.000</span
                            >
                            <svg width="24px" height="24px">
                                <use href="#arrow-open"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide first-screen-slider__slide">
                    <img src="./assets/images/bohauss.png" alt="slider-image" />
                    <div
                        class="first-screen-slider__slide-info first-screen-slider-slide-info"
                    >
                        <span class="first-screen-slider-slide-info__name"
                            >Bohauss</span
                        >
                        <span
                            class="first-screen-slider-slide-info__description"
                            >Luxury big sofa 2-seat</span
                        >
                        <div
                            class="first-screen-slider-slide-info__price-container"
                        >
                            <span class="first-screen-slider-slide-info__price"
                                >Rp 17.000.000</span
                            >
                            <svg width="24px" height="24px">
                                <use href="#arrow-open"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide first-screen-slider__slide">
                    <img src="./assets/images/bohauss.png" alt="slider-image" />
                    <div
                        class="first-screen-slider__slide-info first-screen-slider-slide-info"
                    >
                        <span class="first-screen-slider-slide-info__name"
                            >Bohauss</span
                        >
                        <span
                            class="first-screen-slider-slide-info__description"
                            >Luxury big sofa 2-seat</span
                        >
                        <div
                            class="first-screen-slider-slide-info__price-container"
                        >
                            <span class="first-screen-slider-slide-info__price"
                                >Rp 17.000.000</span
                            >
                            <svg width="24px" height="24px">
                                <use href="#arrow-open"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="first-screen-slider__actions">
                <div
                    class="swiper-pagination first-screen-slider__pagination"
                ></div>
                <div class="first-screen-slider__nav first-screen-slider-nav">
                    <div
                        class="swiper-button-prev first-screen-slider-nav__btn first-screen-slider-nav__btn_prev"
                    >
                        <svg width="24px" height="24px">
                            <use href="#slider-arrow"></use>
                        </svg>
                    </div>
                    <div
                        class="swiper-button-next first-screen-slider-nav__btn first-screen-slider-nav__btn_next"
                    >
                        <svg width="24px" height="24px">
                            <use href="#slider-arrow"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
