html {
    overflow-x: hidden;
}

body {
    position: relative;
    overflow-x: hidden;

    color: $Gray1;
    background-color: $White;

    font-family: $Gilroy;
    font-size: 10px;
}

.container {
    max-width: $container-width;
    width: 100%;
    padding: $container-padding;
    margin: 0 auto;

    @media screen and (max-width: $Laptop-1) {
        padding: $container-padding-L;
    }
}

.section-title-container {
    width: fit-content;
    margin: 0 auto 32px;
}
.section-title-heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;

    list-style: none;
}

a {
    font-size: 2em;
    color: inherit;

    text-decoration: none;
}

button {
    font-size: 2em;

    cursor: pointer;
    outline: none;
    border: none;
}

.button {
    background: $Primary;
    border: 1px solid $Primary;

    font-weight: 600;

    line-height: 150%;
    color: $White;

    transition: all 0.26s ease-out;

    &:hover {
        background-color: $White;
        color: $Primary;
    }

    &_m {
        padding: 12px 60px;
        font-size: 16px;
    }

    &_l {
        width: 100%;
        padding: 24px;
        font-size: 20px;

        @media screen and (max-width: $Laptop-1) {
            padding: 12px;
        }
    }
}
