<section class="tips">
    <div class="container tips__container">
        <div class="tips__content">
            <h2 class="section-title-heading tips__section-heading">
                Tips & Tricks
            </h2>
            <div class="swiper tips__slider tips-slider">
                <div class="swiper-wrapper tips-slider__wheel">
                    <div class="swiper-slide tips-slider__slide">
                        <div class="tips-slider__slide-thumb">
                            <img
                                src="./assets/images/tips-slider-img-1.png"
                                alt="slide-image"
                            />
                        </div>
                        <div class="tips-slider__slide-description">
                            <span class="tips-slider__slide-title"
                                >Solution for clean look working space</span
                            >
                            <span class="tips-slider__slide-date"
                                >10 jan 2020</span
                            >
                        </div>
                    </div>
                    <div class="swiper-slide tips-slider__slide">
                        <div class="tips-slider__slide-thumb">
                            <img
                                src="./assets/images/tips-slider-img-2.png"
                                alt="slide-image"
                            />
                        </div>
                        <div class="tips-slider__slide-description">
                            <span class="tips-slider__slide-title"
                                >Make your cooking activity more fun with good
                                setup</span
                            >
                            <span class="tips-slider__slide-date"
                                >20 jan 2020</span
                            >
                        </div>
                    </div>
                    <div class="swiper-slide tips-slider__slide">
                        <div class="tips-slider__slide-thumb">
                            <img
                                src="./assets/images/tips-slider-img-3.png"
                                alt="slide-image"
                            />
                        </div>
                        <div class="tips-slider__slide-description">
                            <span class="tips-slider__slide-title"
                                >How to create a living room to love</span
                            >
                            <span class="tips-slider__slide-date"
                                >20 jan 2020</span
                            >
                        </div>
                    </div>
                </div>
                <div class="tips-slider__pagination"></div>
                <div
                    class="swiper-button-prev swiper-button tips-slider__btn-prev"
                >
                    <svg width="24px" height="24px">
                        <use href="#slider-arrow"></use>
                    </svg>
                </div>
                <div
                    class="swiper-button-next swiper-button tips-slider__btn-next"
                >
                    <svg width="24px" height="24px">
                        <use href="#slider-arrow"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
