<section class="inspirations">
    <div class="container inspirations__container">
        <div class="inspirations__content">
            <div class="inspirations__section-title-container">
                <h2 class="section-title-heading inspirations__section-title">
                    50+ Beautiful rooms inspiration
                </h2>
                <span class="inspirations__section-subtitle"
                    >Our designer already made a lot of beautiful prototipe of
                    rooms that inspire you</span
                >
                <button class="button button_m">Explore More</button>
            </div>
        </div>
        <div class="inspirations__slider inspirations-slider">
            <div class="swiper inspirations-slider__container">
                <div class="swiper-wrapper inspirations-slider__wheel">
                    <div class="swiper-slide inspirations-slider__slide">
                        <img
                            src="./assets/images/insp-slide-img-1.png"
                            alt="slide-image"
                        />
                        <div class="inspirations-slider__slide-info">
                            <span class="inspirations-slider__slide-description"
                                >01 - Bed Room</span
                            >
                            <span class="inspirations-slider__slide-name"
                                >Inner Peace</span
                            >
                            <button class="inspirations-slider__slide-btn">
                                <svg width="24px" height="24px">
                                    <use href="#arrow-open"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="swiper-slide inspirations-slider__slide">
                        <img
                            src="./assets/images/insp-slider-img-2.png"
                            alt="slide-image"
                        />
                        <div class="inspirations-slider__slide-info">
                            <span class="inspirations-slider__slide-description"
                                >02 - Kitchen</span
                            >
                            <span class="inspirations-slider__slide-name"
                                >Eat Peace</span
                            >
                            <button class="inspirations-slider__slide-btn">
                                <svg width="24px" height="24px">
                                    <use href="#arrow-open"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="swiper-slide inspirations-slider__slide">
                        <img
                            src="./assets/images/insp-slide-img-3.png"
                            alt="slide-image"
                        />
                        <div class="inspirations-slider__slide-info">
                            <span class="inspirations-slider__slide-description"
                                >03 - Bed Room</span
                            >
                            <span class="inspirations-slider__slide-name"
                                >Sleep Peace</span
                            >
                            <button class="inspirations-slider__slide-btn">
                                <svg width="24px" height="24px">
                                    <use href="#arrow-open"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div
                    class="swiper-pagination inspirations-slider__pagination"
                ></div>
                <div class="slider-actions inspirations-slider__actions">
                    <div
                        class="swiper-button swiper-button-next inspirations-slider__btn-next"
                    >
                        <svg width="24px" height="24px">
                            <use href="#slider-arrow"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
