<section class="features">
    <div class="container features__container">
        <div class="features__content">
            <div class="features__item features-item">
                <div class="features-item__icon">
                    <img src="./assets/images/trophy.svg" alt="feature-icon" />
                </div>
                <div class="features-item__container">
                    <span class="features-item__title">High Quality</span>
                    <span class="features-item__description"
                        >crafted from top materials</span
                    >
                </div>
            </div>
            <div class="features__item features-item">
                <div class="features-item__icon">
                    <img
                        src="./assets/images/guarantee.svg"
                        alt="feature-icon"
                    />
                </div>
                <div class="features-item__container">
                    <span class="features-item__title">Warrany Protection</span>
                    <span class="features-item__description">Over 2 years</span>
                </div>
            </div>
            <div class="features__item features-item">
                <div class="features-item__icon">
                    <img
                        src="./assets/images/shipping.svg"
                        alt="feature-icon"
                    />
                </div>
                <div class="features-item__container">
                    <span class="features-item__title">Free Shipping</span>
                    <span class="features-item__description"
                        >Order over 150 $</span
                    >
                </div>
            </div>
            <div class="features__item features-item">
                <div class="features-item__icon">
                    <img
                        src="./assets/images/customer-support.svg"
                        alt="feature-icon"
                    />
                </div>
                <div class="features-item__container">
                    <span class="features-item__title">24 / 7 Support</span>
                    <span class="features-item__description"
                        >Dedicated support</span
                    >
                </div>
            </div>
        </div>
    </div>
</section>
