<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__container">
            <div class="footer__main">
                <h3 class="footer__section-title">Funiro.</h3>
                <p class="footer__subtitle">
                    Worldwide furniture store since 2020. We sell over 1000+
                    branded products on our website
                </p>
                <div class="footer__place footer-place">
                    <div class="footer-place__icon">
                        <svg width="20px" height="20px">
                            <use href="#place"></use>
                        </svg>
                    </div>
                    <a href="#" class="footer-place__link"
                        >Sawojajar Malang, Indonesia</a
                    >
                </div>
                <div class="footer__tel footer-tel">
                    <div class="footer-tel__icon">
                        <svg width="20px" height="20px">
                            <use href="#phone"></use>
                        </svg>
                    </div>
                    <a href="tel:+62894563455" class="footer-tel__number"
                        >+6289 456 3455</a
                    >
                </div>
                <div class="footer__site-link footer-site-link">
                    <a href="www.funiro.com" class="footer-site-link__address"
                        >www.funiro.com</a
                    >
                </div>
            </div>
            <div class="footer__nav footer-nav">
                <div class="footer-nav__item footer-nav-menu">
                    <h3 class="footer__section-title footer-nav-menu__title">
                        Menu
                    </h3>
                    <ul class="footer-nav-menu__list">
                        <li class="footer-nav-menu__item">
                            <a href="#" class="footer-nav-menu__link"
                                >Products</a
                            >
                        </li>
                        <li class="footer-nav-menu__item">
                            <a href="#" class="footer-nav-menu__link">Rooms</a>
                        </li>
                        <li class="footer-nav-menu__item">
                            <a href="#" class="footer-nav-menu__link"
                                >Inspirations</a
                            >
                        </li>
                        <li class="footer-nav-menu__item">
                            <a href="#" class="footer-nav-menu__link"
                                >About Us</a
                            >
                        </li>
                        <li class="footer-nav-menu__item">
                            <a href="#" class="footer-nav-menu__link"
                                >Terms & Policy</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="footer-nav__item footer-nav-menu">
                    <h3 class="footer__section-title footer-nav-menu__title">
                        Account
                    </h3>
                    <ul class="footer-nav-menu__list">
                        <li class="footer-nav-menu__item">
                            <a href="#" class="footer-nav-menu__link"
                                >My Account</a
                            >
                        </li>
                        <li class="footer-nav-menu__item">
                            <a href="#" class="footer-nav-menu__link"
                                >Checkout</a
                            >
                        </li>
                        <li class="footer-nav-menu__item">
                            <a href="#" class="footer-nav-menu__link"
                                >My Cart</a
                            >
                        </li>
                        <li class="footer-nav-menu__item">
                            <a href="#" class="footer-nav-menu__link"
                                >My catalog</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="footer-nav__item footer-nav-menu">
                    <h3 class="footer__section-title footer-nav-menu__title">
                        Stay Connected
                    </h3>
                    <ul class="footer-nav-menu__list">
                        <li class="footer-nav-menu__item">
                            <a href="#" class="footer-nav-menu__link"
                                >Facebook</a
                            >
                        </li>
                        <li class="footer-nav-menu__item">
                            <a href="#" class="footer-nav-menu__link"
                                >Instagram</a
                            >
                        </li>
                        <li class="footer-nav-menu__item">
                            <a href="#" class="footer-nav-menu__link"
                                >Twitter</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__form footer-form">
                <h3 class="footer__section-title footer-form__title">
                    Stay Updated
                </h3>
                <form action="#" class="footer-form__form">
                    <label class="footer-form__label">
                        <input
                            type="text"
                            class="footer-form__input"
                            placeholder="Enter your email"
                        />
                        <button class="footer-form__send-btn" type="submit">
                            <svg width="24px" height="24px">
                                <use href="#send"></use>
                            </svg>
                        </button>
                    </label>
                </form>
            </div>
        </div>
    </div>
</footer>
